.row{
	display: flex;
	direction: ltr;
	writing-mode: horizontal-tb;
	flex-direction: row;
}
.colomn{
	display: flex;
 	direction: ltr;
  	writing-mode: horizontal-tb;
  	flex-direction: column;
}
.box{

	border-radius: 10px;
  	box-shadow: 0 6px 4px -4px black;
}
.boxSmall{
	margin: 50px;
	padding: 10px;

	min-width: 100px;
	min-height: 100px;

	width: 150px;
	height: 100px;
	
	color: white;
	background-color: #D38DAF;
}
.boxMedium{
	margin: 10px;
	padding: 10px;

	min-width: 100px;
	min-height: 100px;

	width: 300px;
	height: 400px;

	border-radius: 20px;
	box-shadow: 0 6px 4px -4px black;

	color: white;
	background-color: #7A4A8D;
}
.boxBig{
margin: 10px;
	
	height: 100px;

	color: white;
	background-color: #2E4372;
}
.boxList{
	padding: 10px;
}
img{
	width: 100px;
	height: 200px;
}